@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

svg {
	font-family: "Chicle", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #B0B0B0;
	font-size: 50px;
}
@keyframes stroke {
	0%   {
		fill: rgba(255,255,255,0); stroke: rgba(176,176,176,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(255,255,255,0); stroke: rgba(176,176,176,1); }
	80%  {fill: rgba(255,255,255,0); stroke: rgba(176,176,176,1); stroke-width: 3; }
	100% {
		fill: rgba(255,255,255,1); stroke: rgba(176,176,176,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper1{
display: flex;
justify-content: center;
align-items: center;
margin-top: 15vh;
}
.wrapper1 text{
    font-size: 60px;
    
}
